.advantage {
	padding: 56px 0;
	background-color: #f3f0e7;
}
.advantage__title {
	margin-bottom: 30px;
	font-family: $agora-xthin;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}
.advantage__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.advantage__item {
	display: inline-block;
	width: 100%;
	max-width: 314px;
	margin-bottom: 40px;
	padding: 0 10px;
	text-align: center;

}
.advantage__head {
	display: inline-block;
	position: relative;
	width: 270px;
	height: 270px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.advantage__head-socials {
	background-color: #fff;
}
.advantage__head-editing {
	background: url('../img/cat-bg.jpg') center center;
	background-size: cover;
}
.advantage__head-templates {
	background: url('../img/templates-bg.jpg') center center;
	background-size: cover;
}
.advantage__socials-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.advantage__socials-item {
	position: absolute;
	width: 56px;
	height: 56px;
	top: 50%; left: 50%;
	border-radius: 50%;
	overflow: hidden;
	&--in {
		margin-top: -28px;
		margin-left: -28px;
	}
	&--gp {
		margin-top: -106px;
		margin-left: -28px;
	}
	&--vk {
		margin-top: -54px;
		margin-left: 42px;
	}
	&--fl {
		margin-top: 28px;
		margin-left: 28px;
	}
	&--fb {
		margin-top: 28px;
		margin-left: -84px;
	}
	&--pt {
		margin-top: -54px;
		margin-left: -96px;
	}
}
.advantage__socials-link {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	&:hover:after {
		color: $main-yellow;
	}
	&:after {
		display: inline-block;
		line-height: 56px;
		font-family: $font-awesome;
		font-size: 40px;
		transition: color .2s linear;
	}
	&--in {
		background-color: #9e6f4f;
		&:after {
			content: "\f16d";
		}
	}
	&--gp {
		background-color: #e1584b;
		&:after {
			content: "\f2b3";
		}
	}
	&--vk {
		background-color: #466c96;
		&:after {
			content: "\f189";
			font-size: 28px;
		}
	}
	&--fl {
		background-color: #ff0084;
		&:after {
			content: "\f16e";
		}
	}
	&--fb {
		background-color: #5b6f98;
		&:after {
			content: "\f09a";
			font-size: 30px;
		}
	}
	&--pt {
		background-color: #59c5c6;
		&:after {
			content: "\f231";
			font-size: 34px;
		}
	}
}
.advantage__name {
	margin-bottom: 10px;
	font-family: $agora-light;
	font-size: 20px;
}
.advantage__desc {
	font-family: $agora-light;
	font-size: 16px;
}
.advantage__link-wrap {
	text-align: center;
}
.advantage__link {
	display: inline-block;
	padding: 10px 20px;
	font-family: $agora-thin;
	font-size: 20px;
	color: #fff;
	background-color: $main-red;
	border: 1px solid $main-red;
	border-radius: 6px;
	text-transform: uppercase;
	text-decoration: none;
	transition: .15s linear;
	&:hover {
		border-color: #000;
		background-color: #fff;
		color: #000;
	}
}

// ----- Media queries -----

@media (min-width:  $screen-md) {
	.advantage__list {
		text-align: justify;
		&:after {
			display: inline-block;
			width: 100%;
			height: 0;
			content: "";
		}
	}
}
@media (min-width: $screen-sm) {
	.advantage__title {
		font-size: 60px;
		font-weight: normal;
	}
}
@media (min-width:  $screen-md) {
	.advantage {
		padding: 80px 0;
	}
}