.steps {
	padding: 50px 0;
	background-color: #fff;
}
.steps__list {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.steps__item {
	position: relative;
	z-index: 10;
	display: inline-block;
	width: 50%;
	margin-bottom: 20px;
	vertical-align: top;
	text-align: center;
}
.steps__item-head {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border: 5px solid $main-yellow;
	border-radius: 50%;
	background-color: #fff;
}
.steps__icon {
	position: absolute;
	display: block;
	top: 50%; left: 50%;
}

// ---------- icons ----------

.steps__icon-download {
	width: 48px;
	height: 38px;
	margin-top: -19px;
	margin-left: -24px;
}
.steps__icon-download-arrow {
	fill: $main-yellow;
}
.steps__icon-design {
	width: 44px;
	height: 44px;
	margin-top: -24px;
	margin-left: -22px;
}
.steps__icon-design-pen {
	fill: $main-yellow;
}
.steps__icon-pay {
	width: 52px;
	height: 46px;
	margin-top: -24px;
	margin-left: -26px;
}
.steps__icon-pay-coin {
	fill: $main-yellow;
}
.steps__icon-cart {
	width: 42px;
	height: 48px;
	margin-top: -24px;
	margin-left: -21px;
}
.steps__icon-cart-box {
	fill: $main-yellow;
}

// ---------- END icons ----------

.steps__item-desc {
	padding: 0 10px;
	font-family: $agora-light;
	font-size: 16px;
	font-weight: 600;
}

// ----- Media queries -----

@media (min-width: $screen-xs - 60) {
	.steps__item {
		margin-bottom: 40px;
	}
	.steps__item-head {
		width: 140px;
		height: 140px;
	}
}
@media (min-width: 660px) {
	.steps__list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		text-align: justify;
		&:after {
			display: inline-block;
			width: 100%;
			height: 0;
			content: "";
		}
		&:before {
			position: absolute;
			width: 100%;
			height: 0;
			top: 70px;  // 1/2 of (.steps__item-head) height
			margin-top: -4px;
			border-top: 4px dashed $main-yellow;
			content: "";
		}
	}
	.steps__item {
		width: 140px;
	}
}
@media (min-width:  $screen-md) {
	.steps {
		padding: 60px 0;
	}
}