.terms {
	padding: 40px 0;
}
.terms__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.terms__item {
	display: inline-block;
	width: 100%;
	max-width: 314px;
	margin-bottom: 20px;
	text-align: left;
	vertical-align: top;
}
.terms__head {
	padding: 6px 0;
	font-family: $agora-light;
	font-size: 36px;
	text-align: center;
	background-color: $main-yellow;
	border-radius: 8px 8px 0 0;
	border-bottom: 6px solid #fff;
}
.terms__body {
	height: 236px;
	padding-top: 20px;
	background-color: $bg-grey;
	border-radius: 0 0 8px 8px;
}
.terms__content {
	padding-left: 20px;
	font-family: $agora-regular;
	font-size: 18px;
}
.terms__content-list {
	list-style-type: disc;
}
.terms__content-item {
	padding-left: 0;
	margin-left: 20px;
}
.terms__content-warn {
	color: $main-red;
	font-weight: 600;
}
.terms__link-wrap {
	text-align: center;
}
.terms__link {
	display: inline-block;
	padding: 10px 20px;
	font-family: $agora-thin;
	font-size: 20px;
	color: #fff;
	background-color: $main-red;
	border: 1px solid $main-red;
	border-radius: 6px;
	text-transform: uppercase;
	text-decoration: none;
	transition: .15s linear;
	&:hover {
		border-color: #000;
		background-color: #fff;
		color: #000;
	}
}

// ----- Media queries -----

@media (min-width:  $screen-md) {
	.terms {
		padding-top: 80px;
	}
	.terms__list {
		margin-bottom: 70px;
		text-justify: distribute;
		text-align: justify;
		&:after {
			display: inline-block;
			width: 100%;
			height: 0;
			content: "";
		}
	}
}
@media (min-width:  $screen-md) {
	.terms {
		padding: 80px 0;
	}
}