@font-face {
    font-family: 'pf_agora_sans_probold';
    src: url('../fonts/pfagorasanspro-bold-webfont.eot');
    src: url('../fonts/pfagorasanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfagorasanspro-bold-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-bold-webfont.svg#pf_agora_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_sans_prolight';
    src: url('../fonts/pfagorasanspro-light-webfont.eot');
    src: url('../fonts/pfagorasanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfagorasanspro-light-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-light-webfont.svg#pf_agora_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_sans_proregular';
    src: url('../fonts/pfagorasanspro-reg-webfont.eot');
    src: url('../fonts/pfagorasanspro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-reg-webfont.woff2') format('woff2'),
         url('../fonts/pfagorasanspro-reg-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-reg-webfont.svg#pf_agora_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_sans_prothin';
    src: url('../fonts/pfagorasanspro-thin-webfont.eot');
    src: url('../fonts/pfagorasanspro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-thin-webfont.woff2') format('woff2'),
         url('../fonts/pfagorasanspro-thin-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-thin-webfont.svg#pf_agora_sans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_sans_proxthin';
    src: url('../fonts/pfagorasanspro-xthin-webfont.eot');
    src: url('../fonts/pfagorasanspro-xthin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-xthin-webfont.woff2') format('woff2'),
         url('../fonts/pfagorasanspro-xthin-webfont.woff') format('woff'),
         url('../fonts/pfagorasanspro-xthin-webfont.svg#pf_agora_sans_proxthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3')format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
         url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
         url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
         url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}