// adaptive layout breakpoints
$screen-xs:	480px;
$screen-sm:	768px;
$screen-md:	992px;
$screen-lg:	1200px;

// font families
$agora-bold: 'pf_agora_sans_probold', arial, helvetica, sans-serif;
$agora-light: 'pf_agora_sans_prolight', arial, helvetica, sans-serif;
$agora-regular: 'pf_agora_sans_proregular', arial, helvetica, sans-serif;
$agora-thin: 'pf_agora_sans_prothin', arial, helvetica, sans-serif;
$agora-xthin: 'pf_agora_sans_proxthin', arial, helvetica, sans-serif;
$font-awesome: 'FontAwesome';

// font sizes
$title-main: 22px;

// colors
$main-yellow: #ffd200;
$main-red: #e11a27;
$bg-grey: #f7f0e6;